<a href="https://colab.research.google.com/github/fernanda993/Voos_Cancelados/blob/main/Analise_Voo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analisando voos cancelados no EUA

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
#from datetime import datetime

In [3]:
# pd.options.display.float_format='{:2f}'.format

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:

companhias_aerias = pd.read_csv('/content/drive/My Drive/arquivo/airlines.csv')
aeroport = pd.read_csv('/content/drive/My Drive/arquivo/airports.csv')
voo = pd.read_csv('/content/drive/My Drive/arquivo/flights.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
voo.head(10)

   YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015      1    1  ...            NaN                 NaN            NaN
1  2015      1    1  ...            NaN                 NaN            NaN
2  2015      1    1  ...            NaN                 NaN            NaN
3  2015      1    1  ...            NaN                 NaN            NaN
4  2015      1    1  ...            NaN                 NaN            NaN
5  2015      1    1  ...            NaN                 NaN            NaN
6  2015      1    1  ...            NaN                 NaN            NaN
7  2015      1    1  ...            NaN                 NaN            NaN
8  2015      1    1  ...            NaN                 NaN            NaN
9  2015      1    1  ...            NaN                 NaN            NaN

[10 rows x 31 columns]

In [7]:
aeroport.head(10)

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447
5       ACK           Nantucket Memorial Airport  ...  41.25305  -70.06018
6       ACT                Waco Regional Airport  ...  31.61129  -97.23052
7       ACV                       Arcata Airport  ...  40.97812 -124.10862
8       ACY  Atlantic City International Airport  ...  39.45758  -74.57717
9       ADK                         Adak Airport  ...  51.87796 -176.64603

[10 rows x 7 columns]

In [8]:
companhias_aerias.head(10)

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways
5        OO   Skywest Airlines Inc.
6        AS    Alaska Airlines Inc.
7        NK        Spirit Air Lines
8        WN  Southwest Airlines Co.
9        DL    Delta Air Lines Inc.

###Merge dos Dataframes

In [9]:
resultado = pd.merge(voo,aeroport, left_on= 'ORIGIN_AIRPORT',right_on='IATA_CODE',how='left')

In [10]:
resultado.head(3)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
2  2015      1    1            4  ...    CA      USA  37.61900 -122.37484

[3 rows x 38 columns]

Verificar dados em brancos

In [11]:
resultado.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
5819074    False
5819075    False
5819076    False
5819077    False
5819078    False
Length: 5819079, dtype: bool

Contagem de registro existentes

In [12]:
qtd1 = resultado.count()

Contagem de registros nulos em cada coluna

In [13]:
qtd_nun = resultado.isnull().sum()

Calculando a porcentagem de registros nulos

In [14]:
linha = resultado.shape[0]

In [15]:
qtd1

YEAR                   5819079
MONTH                  5819079
DAY                    5819079
DAY_OF_WEEK            5819079
AIRLINE                5819079
FLIGHT_NUMBER          5819079
TAIL_NUMBER            5804358
ORIGIN_AIRPORT         5819079
DESTINATION_AIRPORT    5819079
SCHEDULED_DEPARTURE    5819079
DEPARTURE_TIME         5732926
DEPARTURE_DELAY        5732926
TAXI_OUT               5730032
WHEELS_OFF             5730032
SCHEDULED_TIME         5819073
ELAPSED_TIME           5714008
AIR_TIME               5714008
DISTANCE               5819079
WHEELS_ON              5726566
TAXI_IN                5726566
SCHEDULED_ARRIVAL      5819079
ARRIVAL_TIME           5726566
ARRIVAL_DELAY          5714008
DIVERTED               5819079
CANCELLED              5819079
CANCELLATION_REASON      89884
AIR_SYSTEM_DELAY       1063439
SECURITY_DELAY         1063439
AIRLINE_DELAY          1063439
LATE_AIRCRAFT_DELAY    1063439
WEATHER_DELAY          1063439
IATA_CODE              5332914
AIRPORT                5332914
CITY                   5332914
STATE                  5332914
COUNTRY                5332914
LATITUDE               5328309
LONGITUDE              5328309
dtype: int64

In [16]:
qtd_nun

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
IATA_CODE               486165
AIRPORT                 486165
CITY                    486165
STATE                   486165
COUNTRY                 486165
LATITUDE                490770
LONGITUDE               490770
dtype: int64

In [17]:
display(qtd1.dtypes)

dtype('int64')

In [18]:
display(qtd_nun.dtypes)

dtype('int64')

In [19]:
calc = (qtd_nun/linha)*100
calc

YEAR                    0.000000
MONTH                   0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
TAIL_NUMBER             0.252978
ORIGIN_AIRPORT          0.000000
DESTINATION_AIRPORT     0.000000
SCHEDULED_DEPARTURE     0.000000
DEPARTURE_TIME          1.480526
DEPARTURE_DELAY         1.480526
TAXI_OUT                1.530259
WHEELS_OFF              1.530259
SCHEDULED_TIME          0.000103
ELAPSED_TIME            1.805629
AIR_TIME                1.805629
DISTANCE                0.000000
WHEELS_ON               1.589822
TAXI_IN                 1.589822
SCHEDULED_ARRIVAL       0.000000
ARRIVAL_TIME            1.589822
ARRIVAL_DELAY           1.805629
DIVERTED                0.000000
CANCELLED               0.000000
CANCELLATION_REASON    98.455357
AIR_SYSTEM_DELAY       81.724960
SECURITY_DELAY         81.724960
AIRLINE_DELAY          81.724960
LATE_AIRCRAFT_DELAY    81.724960
WEATHER_DELAY          81.724960
IATA_CODE               8.354673
AIRPORT                 8.354673
CITY                    8.354673
STATE                   8.354673
COUNTRY                 8.354673
LATITUDE                8.433809
LONGITUDE               8.433809
dtype: float64

Retirar colunas

In [20]:
#resultado.drop([CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY, ], axis=1)
result = resultado.drop(['CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'ARRIVAL_TIME'], axis=1)

In [21]:
result.head(3)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
2  2015      1    1            4  ...    CA      USA  37.61900 -122.37484

[3 rows x 32 columns]

In [22]:
calc.describe().T

count    38.000000
mean     15.320583
std      30.618264
min       0.000000
25%       0.000000
50%       1.560041
75%       8.354673
max      98.455357
dtype: float64

In [23]:
result.head(1)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619

[1 rows x 32 columns]

In [30]:
result = result.dropna(subset=['DEPARTURE_TIME'])

In [31]:
coltime = result['DEPARTURE_TIME'] = result['DEPARTURE_TIME'].astype(int)

# quando for '2' = 00:02
def receb (result)

#result['Data'] = result['YEAR'].astype(str) + "-" + result['MONTH'].astype(str) + "-" + result['DAY'].astype(str)
result.head(3)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... COUNTRY  LATITUDE  LONGITUDE      Data
0  2015      1    1            4  ...     USA  61.17432 -149.99619  2015-1-1
1  2015      1    1            4  ...     USA  33.94254 -118.40807  2015-1-1
2  2015      1    1            4  ...     USA  37.61900 -122.37484  2015-1-1

[3 rows x 33 columns]