<a href="https://colab.research.google.com/github/fernanda993/Voos_Cancelados/blob/main/Analise_Voo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Analisando voos cancelados no EUA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
companhias_aerias = pd.read_csv('/content/drive/My Drive/arquivo/airlines.csv')
aeroport = pd.read_csv('/content/drive/My Drive/arquivo/airports.csv')
voo = pd.read_csv('/content/drive/My Drive/arquivo/flights.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
voo.head(10)

   YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015      1    1  ...            NaN                 NaN            NaN
1  2015      1    1  ...            NaN                 NaN            NaN
2  2015      1    1  ...            NaN                 NaN            NaN
3  2015      1    1  ...            NaN                 NaN            NaN
4  2015      1    1  ...            NaN                 NaN            NaN
5  2015      1    1  ...            NaN                 NaN            NaN
6  2015      1    1  ...            NaN                 NaN            NaN
7  2015      1    1  ...            NaN                 NaN            NaN
8  2015      1    1  ...            NaN                 NaN            NaN
9  2015      1    1  ...            NaN                 NaN            NaN

[10 rows x 31 columns]

In [4]:
aeroport.head(10)

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447
5       ACK           Nantucket Memorial Airport  ...  41.25305  -70.06018
6       ACT                Waco Regional Airport  ...  31.61129  -97.23052
7       ACV                       Arcata Airport  ...  40.97812 -124.10862
8       ACY  Atlantic City International Airport  ...  39.45758  -74.57717
9       ADK                         Adak Airport  ...  51.87796 -176.64603

[10 rows x 7 columns]

In [5]:
companhias_aerias.head(10)

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways
5        OO   Skywest Airlines Inc.
6        AS    Alaska Airlines Inc.
7        NK        Spirit Air Lines
8        WN  Southwest Airlines Co.
9        DL    Delta Air Lines Inc.

Merge dos Dataframes

In [6]:
  result = pd.merge(voo,aeroport, left_on= 'ORIGIN_AIRPORT',right_on='IATA_CODE',how='left')

In [7]:
result.head()

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
2  2015      1    1            4  ...    CA      USA  37.61900 -122.37484
3  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
4  2015      1    1            4  ...    WA      USA  47.44898 -122.30931

[5 rows x 38 columns]

Contagem de registro existentes

In [8]:
qtd1 = result.count()

Contagem de registros nulos em cada linha

In [9]:
qtd_nun = result.isnull().sum()

Calculando a porcentagem de registros nulos

In [10]:
qtd1

YEAR                   5819079
MONTH                  5819079
DAY                    5819079
DAY_OF_WEEK            5819079
AIRLINE                5819079
FLIGHT_NUMBER          5819079
TAIL_NUMBER            5804358
ORIGIN_AIRPORT         5819079
DESTINATION_AIRPORT    5819079
SCHEDULED_DEPARTURE    5819079
DEPARTURE_TIME         5732926
DEPARTURE_DELAY        5732926
TAXI_OUT               5730032
WHEELS_OFF             5730032
SCHEDULED_TIME         5819073
ELAPSED_TIME           5714008
AIR_TIME               5714008
DISTANCE               5819079
WHEELS_ON              5726566
TAXI_IN                5726566
SCHEDULED_ARRIVAL      5819079
ARRIVAL_TIME           5726566
ARRIVAL_DELAY          5714008
DIVERTED               5819079
CANCELLED              5819079
CANCELLATION_REASON      89884
AIR_SYSTEM_DELAY       1063439
SECURITY_DELAY         1063439
AIRLINE_DELAY          1063439
LATE_AIRCRAFT_DELAY    1063439
WEATHER_DELAY          1063439
IATA_CODE              5332914
AIRPORT                5332914
CITY                   5332914
STATE                  5332914
COUNTRY                5332914
LATITUDE               5328309
LONGITUDE              5328309
dtype: int64

In [11]:
qtd_nun

YEAR                         0
MONTH                        0
DAY                          0
DAY_OF_WEEK                  0
AIRLINE                      0
FLIGHT_NUMBER                0
TAIL_NUMBER              14721
ORIGIN_AIRPORT               0
DESTINATION_AIRPORT          0
SCHEDULED_DEPARTURE          0
DEPARTURE_TIME           86153
DEPARTURE_DELAY          86153
TAXI_OUT                 89047
WHEELS_OFF               89047
SCHEDULED_TIME               6
ELAPSED_TIME            105071
AIR_TIME                105071
DISTANCE                     0
WHEELS_ON                92513
TAXI_IN                  92513
SCHEDULED_ARRIVAL            0
ARRIVAL_TIME             92513
ARRIVAL_DELAY           105071
DIVERTED                     0
CANCELLED                    0
CANCELLATION_REASON    5729195
AIR_SYSTEM_DELAY       4755640
SECURITY_DELAY         4755640
AIRLINE_DELAY          4755640
LATE_AIRCRAFT_DELAY    4755640
WEATHER_DELAY          4755640
IATA_CODE               486165
AIRPORT                 486165
CITY                    486165
STATE                   486165
COUNTRY                 486165
LATITUDE                490770
LONGITUDE               490770
dtype: int64

In [12]:
colunas_df = result['TAIL_NUMBER']

In [13]:
# colunas_df.value_counts()
qtd2 = colunas_df.isnull().sum()

In [14]:
qtd2

14721