<a href="https://colab.research.google.com/github/fernanda993/Voos_Cancelados/blob/main/Analise_Voo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analisando voos cancelados no EUA

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
#import numpy as np
#import matplotlib.pyplot as plt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
companhias_aerias = pd.read_csv('/content/drive/My Drive/arquivo/airlines.csv')
aeroport = pd.read_csv('/content/drive/My Drive/arquivo/airports.csv')
voo = pd.read_csv('/content/drive/My Drive/arquivo/flights.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
voo.head()

   YEAR  MONTH  DAY  ...  AIRLINE_DELAY LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0  2015      1    1  ...            NaN                 NaN            NaN
1  2015      1    1  ...            NaN                 NaN            NaN
2  2015      1    1  ...            NaN                 NaN            NaN
3  2015      1    1  ...            NaN                 NaN            NaN
4  2015      1    1  ...            NaN                 NaN            NaN

[5 rows x 31 columns]

In [ ]:
aeroport.head()

  IATA_CODE                              AIRPORT  ...  LATITUDE  LONGITUDE
0       ABE  Lehigh Valley International Airport  ...  40.65236  -75.44040
1       ABI             Abilene Regional Airport  ...  32.41132  -99.68190
2       ABQ    Albuquerque International Sunport  ...  35.04022 -106.60919
3       ABR            Aberdeen Regional Airport  ...  45.44906  -98.42183
4       ABY   Southwest Georgia Regional Airport  ...  31.53552  -84.19447

[5 rows x 7 columns]

In [ ]:
companhias_aerias.head()

  IATA_CODE                 AIRLINE
0        UA   United Air Lines Inc.
1        AA  American Airlines Inc.
2        US         US Airways Inc.
3        F9  Frontier Airlines Inc.
4        B6         JetBlue Airways

###Merge dos Dataframes

In [ ]:
resultado = pd.merge(voo,aeroport, left_on= 'ORIGIN_AIRPORT',right_on='IATA_CODE',how='left')
resultado.head()

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
2  2015      1    1            4  ...    CA      USA  37.61900 -122.37484
3  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
4  2015      1    1            4  ...    WA      USA  47.44898 -122.30931

[5 rows x 38 columns]

###Verificar dados em brancos

In [ ]:
resultado.duplicated()

0          False
1          False
2          False
3          False
4          False
           ...
5819074    False
5819075    False
5819076    False
5819077    False
5819078    False
Length: 5819079, dtype: bool

###Contagem de registro existentes

In [ ]:
qtd1 = resultado.count()

###Contagem de registros nulos em cada coluna

In [ ]:
qtd_nun = resultado.isnull().sum()

###Calculando a porcentagem de registros nulos

In [ ]:
linha = resultado.shape[0]

In [ ]:
display(qtd1.dtypes)

dtype('int64')

In [ ]:
display(qtd_nun.dtypes)

dtype('int64')

In [ ]:
calc = (qtd_nun/linha)*100
calc

YEAR                    0.000000
MONTH                   0.000000
DAY                     0.000000
DAY_OF_WEEK             0.000000
AIRLINE                 0.000000
FLIGHT_NUMBER           0.000000
TAIL_NUMBER             0.252978
ORIGIN_AIRPORT          0.000000
DESTINATION_AIRPORT     0.000000
SCHEDULED_DEPARTURE     0.000000
DEPARTURE_TIME          1.480526
DEPARTURE_DELAY         1.480526
TAXI_OUT                1.530259
WHEELS_OFF              1.530259
SCHEDULED_TIME          0.000103
ELAPSED_TIME            1.805629
AIR_TIME                1.805629
DISTANCE                0.000000
WHEELS_ON               1.589822
TAXI_IN                 1.589822
SCHEDULED_ARRIVAL       0.000000
ARRIVAL_TIME            1.589822
ARRIVAL_DELAY           1.805629
DIVERTED                0.000000
CANCELLED               0.000000
CANCELLATION_REASON    98.455357
AIR_SYSTEM_DELAY       81.724960
SECURITY_DELAY         81.724960
AIRLINE_DELAY          81.724960
LATE_AIRCRAFT_DELAY    81.724960
WEATHER_DELAY          81.724960
IATA_CODE               8.354673
AIRPORT                 8.354673
CITY                    8.354673
STATE                   8.354673
COUNTRY                 8.354673
LATITUDE                8.433809
LONGITUDE               8.433809
dtype: float64

##Retirar colunas

In [ ]:
#resultado.drop([CANCELLATION_REASON, AIR_SYSTEM_DELAY, SECURITY_DELAY, LATE_AIRCRAFT_DELAY, WEATHER_DELAY, ], axis=1)
result = resultado.drop(['CANCELLATION_REASON', 'AIR_SYSTEM_DELAY', 'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY', 'WEATHER_DELAY', 'ARRIVAL_TIME'], axis=1)
result.head(3)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
2  2015      1    1            4  ...    CA      USA  37.61900 -122.37484

[3 rows x 32 columns]

In [ ]:
result = result.dropna(subset=['DEPARTURE_TIME'])
result['DEPARTURE_TIME'] = result['DEPARTURE_TIME'].astype(int).astype(str)
result.head(5)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
2  2015      1    1            4  ...    CA      USA  37.61900 -122.37484
3  2015      1    1            4  ...    CA      USA  33.94254 -118.40807
4  2015      1    1            4  ...    WA      USA  47.44898 -122.30931

[5 rows x 32 columns]

In [ ]:
result = result.dropna(subset=['SCHEDULED_DEPARTURE'])

In [ ]:
result.head(2)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807

[2 rows x 32 columns]

Converter para segundos

In [ ]:
#result['SCHEDULED_DEPARTURE','DEPARTURE_TIME','SCHEDULED_TIME','ELAPSED_TIME','SCHEDULED_ARRIVAL'] = result['SCHEDULED_DEPARTURE','DEPARTURE_TIME','SCHEDULED_TIME','ELAPSED_TIME','SCHEDULED_ARRIVAL'].apply(convert_hora)
result['SCHEDULED_DEPARTURE'] = result['SCHEDULED_DEPARTURE'].astype(int).astype(str)

In [ ]:
def convert_hora(x):
  if(len(x)==1):
    return "00:0"+x
  elif(len(x)==2):
    return "00:"+x
  elif(len(x)==3):
    return "0"+x[0]+":"+x[1:]
  elif(len(x)==4):
    return x[0:2]+":"+x[2:]

In [ ]:
result['SCHEDULED_DEPARTURE'] = result['SCHEDULED_DEPARTURE'].apply(convert_hora)

In [ ]:
result.head(2)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807

[2 rows x 32 columns]

In [ ]:
result['DEPARTURE_TIME'] = result['DEPARTURE_TIME'].astype(int).astype(str)

In [ ]:
result.head(2)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807

[2 rows x 32 columns]

In [ ]:
result['DEPARTURE_TIME'] = result['DEPARTURE_TIME'].apply(convert_hora)

In [ ]:
result.head(2)

   YEAR  MONTH  DAY  DAY_OF_WEEK  ... STATE  COUNTRY  LATITUDE  LONGITUDE
0  2015      1    1            4  ...    AK      USA  61.17432 -149.99619
1  2015      1    1            4  ...    CA      USA  33.94254 -118.40807

[2 rows x 32 columns]

In [ ]:
def calc_horario(x,y):
  if(len(x) == zlen(y)):
    return 'igual'
  elif(len(x)> len(y)):
    return 'maior'
  elif(len(x)< len(y)):
    return 'menor'

In [ ]:
result['SCHEDULED_DEPARTURE'].apply(calc_horario)

TypeError: ignored